
/* COLOR GUIDE
HEADER BLUE: #416071

*/

#loginn{
	left:180px;
	top:10px;
	padding-left:930px;
	padding-top:10px;
	color:white;
}

.form {
	margin-left:auto;
    margin-right:auto;
    max-width: 600px;
    padding: 25px 15px 25px 10px;
    font: 12px century gothic;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
}


input[type="password"], select {
	border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}


input[type="email"], select {
	border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

input[type="text"], select {
	border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

label {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
}

p.result {
	text-align: center;
	padding-top: 50px;
	border: 3px #D0C972 solid;
	border-radius: 5px;
	margin-top: 0;
}

body {
  padding-top: 0px;
  padding-bottom: 12px;
  font-family:centurygothic;
  font-size:9pt;
  color:#fff;
  background-image:url(images/linedpaper.png);
}

.header {
  position:absolute;
  width:100%; 
  left: 00px; 
  top: 0px;
  padding-top:10px;
  padding-bottom: 90px;
  background-color:#416071;
  -webkit-box-shadow:0px 1px 1px black;
  -moz-box-shadow:0px 1px 1px black;
  box-shadow:0px 1px 1px black;
  margin-bottom: 2px;
  line-height:0px;
}

.content{
	margin: auto;
	margin-top: 80px;
	padding-top:10px;
    width: 70%;
	height:auto;
    border: 0px solid #73AD21;
	background-color:#FFF;
	padding-bottom:10px;
	
	
}

input {
    background-color:#e5e5e5;
}

input[type=submit] {
    padding:2px 10px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.box1{
	width: 100px;
	margin-top:10px;
    float: left;
	background-color:#416071;
	color:#fff;
	padding-left:3px;
	padding-bottom:5px;
	padding-right:4px;
	width: 50%;
	height:263px;
	
}

a {
	color:#416071;
}

#clear {
    clear: both;
}

.box2{
	width: 45%;
    float: left;
	background-color:white;
	color:#000;
	margin-left: 10px;
	margin-top:10px;
	padding-left:3px;
	padding-bottom:5px;
	padding-right:4px;
	border: 1px solid black;
	height:262px;
	
}


#wrap{
	float:right;
	width: 70%;
	height:auto;
	background-color: #fff;
	border: 1px solid white;
	padding-left:16px;
}

#fp1{
	width: 20%;
	margin-left:10px;
	height: 200px;
	background-color: #333;
	float: left;
}

#fp2{
	width: 20%;
	height: 200px;
	margin-left:10px;
	float: left;
	background-color: #666;
}

#fp3{
	width: 20%;
	height: 200px;
	margin-left:10px;
	float: left;
	background-color: #333;
}

#fp4{
	width: 20%;
	height: 200px;
	margin-left:10px;
	float: left;
	background-color: #333;
}




.boxed2{
  background-color:#fff;
  width: 70%;
  float:right;
	
}

h1{
	font-family:rockwell;
	font-size:30pt;
	color:#fff;
	background-color: #1B3443;
	padding-left: 4px;
	border-radius:10px;
	
}


h2{
	font-family:rockwell;
	font-size:30pt;
	color:white;
	background-color:#416071;
	border-radius:10px;
	padding-left:10px;
}



h3{
	font-family:rockwell;
	font-size:14pt;
	text-align:right;
	border-bottom-style:dashed;
	border-bottom-width:1px;
	color:black;
}



h4 a{
	font-family:rockwell;
	font-size:14pt;
	text-decoration:underline;
	color:white;
}
h5{
	font-family:rockwell;
	font-size:30pt;
	color:white;
	border-radius:10px;
	padding-left:10px;
	background-color: #93AA9c;
	padding-bottom: 3px;
}



h6{
	font-family:rockwell;
	font-size:16pt;
	color:white;
	text-align:left;
	padding-left:7px;
	border-bottom:dashed white 1px;
	
}

h7{
	font-family:rockwell;
	font-size:14pt;
	color:white;
	text-align:left;
	padding-left:7px;
	
}

h8{
	color:black;
	font-size:14px;
}

 H9{
	font-family:rockwell;
	text-transform:uppercase;
	font-size:13px;
	COLOR: #1B34431;
}

a.link2:link, a.link2:visited, a.link2:active, a.link2:hover {
	color: #1B34431;
}

link2:link{
	color: #1B34431;
}

.box3{
	float: left;
	margin-left:78px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #000000;
	background-color: #93AA9c;
	width:20%;
	text-align:center;
	padding:8px;
	
}

a.link1:link, a.link1:visited, a.link1:active { 
	text-align:right;
	padding-left:2px;
	color:black;
	font-family:rockwell;
	font-size:10pt;
	font-weight:normal;
	text-decoration:underline;
	align: right;
}


a.link3:link, a.link3:visited, a.link3:active { 
	text-align:right;
	padding-left:2px;
	color:white;
	font-family:rockwell;
	font-size:10pt;
	font-weight:normal;
	text-decoration:underline;
	text-transform:uppercase;
	align: right;
}

a.link3:hover{
	color:red;
	
}


.box4{
	float: left;
	padding:3px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #000000;
	background-color:#416071;
	width:100%;
	
}



.logo{
	left:130px;
	top:10px;
	position:absolute;
}

.nav{
	right:200px;
	top:45px;
	position:absolute;
	line-height: 10px;
	padding-left:0;
	margin-bottom:0;
	list-style:none;
	font-family:bebasneue;
	font-size:18pt;
	color:#fff;
	text-transform:uppercase;
	
}
/* visited link */
a:visited {
    color: #1B3443;
}

nav a:visited {
    color: white;
}



.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover{
	color:#1B3443;
	text-decoration:underline;
	
	
}

a{
	
	text-decoration:none
}

a:focus,a:hover{
	color:#23527c;
	text-decoration:underline
}

a:focus{
	outline:thin dotted;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px;
	
}

.nav>li{
	position:relative;
}


a:active {
	text-decoration: underline;
}


.nav>li>a{
	position:relative;
	display:block;
	padding:10px 15px
	
}

.nav>li>a:focus,.nav>li>a:hover{
	color:#fff;
	

}


#header, #footer {
        float:left;
		padding:15px 0;
		width:100%;
	}



.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  color:#fff;
}


#contactbox {
  padding-top: 10px;
  border-radius: 15px;
  padding-bottom:10px;
  text-align:center;
  color: white;
  border-top: 1px solid #e5e5e5;
  background-color: #416071;
  width:100%; 

}

#infobox {
  border-radius: 15px;
  padding-bottom:10px;
  text-align:LEFT;
  color: white;
  background-color: #416071;
  width:250px;
  margin-bottom:5px; 
  float:left;
  margin-top:5px;
  PADDING-LEFT:3PX;

}


#gallerybox {
  border-radius: 15px;
  padding-bottom:10px;
  text-align:LEFT;
  color: white;
  background-color: #416071;
  width:520px;
  margin-bottom:5px; 
  float:left;
  margin-top:5px;
  PADDING-LEFT:3PX;
  margin-left:7px;

}



#contactinfo {
	float:left;
}

#faqbox {
  padding-top: 10px;
  border-radius: 15px;
  padding-bottom:10px;
  padding-left:10px;
  text-align:left;
  color: white;
  border-top: 1px solid #e5e5e5;
  background-color:  #93AA9c;
  width:100%; 

}


/* green background white font*/




#locations{
	width: 73%;
	float:right;
	padding-left:10px;
	top: 10px;
	padding-right: 15px;
	
}



#blah{
	background-color: #93AA9c;
	float:left;
	padding-left:10px;
	padding-top: 5px;
	padding-right: 10px;
	margin:9px;
	height: 170px;
	width: 160px;
	border-radius:15px;
	
}



.locationssidebar {
  background-color:#93AA9c;
  width: 18%;
  height: 210px;
  margin-left:10px;
  padding:3px;
  margin-top:40px;
  float:left;

}

#lcontent{
	float:right;
	width:100%;
	
	
		
}

.locationscontainer {
	background-color:white;
	width:100%;	
}




.boxed {
  background-color:#93AA9c;
  width: 25%;
  height: 300px;
  margin-left:10px;
  border-radius: 5px;
  padding:3px;
  float:left;

} 



#locationsidebar {
  background-color:#93AA9c;
  width: 25%;
  height: 280px;
  margin-left:10px;
  padding:3px;
  float:left
}



/* Custom page footer */
.footer {
  padding-top: 10px;
  padding-bottom:10px;
  text-align:center;
  color: #777;
  border-top: 1px solid #e5e5e5;
  background-color: #D1DCB9;
  position:absolute;
  width:100%; 
  left: 00px; 

}


.footerlinks{
	color:#fff;
	font-family:bebasneue;
	right:260px;
	top:30px;
	line-height: 10px;
	padding-left:0;
	margin-bottom:0;
	list-style:none;
	font-family:bebasneue;
	font-size:18pt;
	color:#fff;
	text-transform:uppercase;	
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}


/* Customize container */
@media (min-width: 768px) {
  .container {
    width:100%;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 5px 0;
}




/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


#signup{
	width: 600px;
	padding-right:100px;
	left:103px;	
}


/*Gallery Code */
.thumbnails img {
		height: 80px;
		border: 2px solid #555;
		padding: 0px;
		margin: 3px 10px 10px 3px;
	}

	.thumbnails img:hover {
		border: 2px solid #00ccff;
		cursor:pointer;
	}

	.preview img {
		border: 2px solid #000;
		padding: 0px;
		width: 510px;
	}

